:root {
    --primary-color: #fa8072;
    --secondary-color: #0f52ba;
    --text-ff: "Titillium Web", sans-serif;
    --heading-ff: "Anton", sans-serif;
}

body {
    font-family: var(--text-ff);
    font-size: 16;
    background-color: var(--secondary-color);
}

h1 {
    font-family: "Anton", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

p {
    color: white;
    margin: 0;
}
